<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <Authorizing><h2>Please wait...</h2></Authorizing>
                <NotAuthorized>
                    @if(context.User?.Identity?.IsAuthenticated == false)
                    {
                        <BlazorServerApp.Components.Pages.Home />
                    }
                    else
                    {
                        <p>You are not authorised to access this resource.</p>
                        <h3>App.Razor</h3>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(Layout.MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>