@page "/checkbox-control"

<PageTitle>Checkbox</PageTitle>
<h2>Checkbox</h2>
<br />
<div id="ControlRegion">
    <div class="control-section">
        <div class="checkbox-control">
            <div class="row">
                <SfCheckBox @bind-Checked="@isChecked" Label="CheckBox"></SfCheckBox>
            </div>
            <div class="row">
                <SfCheckBox Disabled="true" @bind-Checked="@isNewChecked" Label="Checked, Disabled"></SfCheckBox>
            </div>
            <div class="row">
                <SfCheckBox Indeterminate="true" Disabled="true" Label="Indeterminate, Disabled" TChecked="bool"></SfCheckBox>
            </div>
        </div>
    </div>
</div>

<style>
    #ControlRegion {
        margin: 0 auto;
        width: 25%;
        padding: 3%;
    }

    .checkbox-control {
        margin: 12% 0 12% 40%;
    }

    .control-section .row {
        margin: 20px 0;
    }

    .ulstyle {
        margin: 0px;
        padding-left: 20px;
        display: inline-block;
    }

    .list {
        float: left;
        line-height: 20px;
        margin: 10px;
        min-width: 200px;
    }
</style>

@code {
    private bool isChecked = true;
    private bool isNewChecked = true;
}
