@page "/textarea-control"

<PageTitle>TextArea</PageTitle>
<h2>TextArea</h2>
<br />
<div id="ControlRegion">
    <div class="control-wrapper">
        <SfTextArea Placeholder="Enter your comments" ResizeMode="Resize.Vertical" FloatLabelType="Syncfusion.Blazor.Inputs.FloatLabelType.Auto" RowCount="2" ColumnCount="31"></SfTextArea>
    </div>
</div>

<style>
    .control-wrapper {
        max-width: 250px;
        margin: 0 auto;
        padding: 30px 0px 0px;
    }
</style>
