@page "/textbox-control"

<PageTitle>TextBox</PageTitle>
<h2>TextBox</h2>
<br />
<div id="ControlRegion">
    <div class="col-lg-12 control-section">
        <div class="control_wrapper">
            <SfTextBox Placeholder='First Name' FloatLabelType='Syncfusion.Blazor.Inputs.FloatLabelType.Auto'></SfTextBox>
        </div>
    </div>
</div>

<style>
    .control_wrapper {
        width: 350px;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 50px;}
</style>
