@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter123</h1>

<p role="status" style="color: red;">Current count55: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
