@using BlazorWasmTemplate.Pages.IndexedDb
@using Toolbelt.Blazor.PWA.Updater

@inherits LayoutComponentBase
<PWAUpdater />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <ConnectivityIndicator>
                <ShowOnline>
                    <img alt="Online"
                         title="Application running online."
                         src="./images/internet-on.png" />
                </ShowOnline>
                <ShowOffline>
                    <img alt="Offline"
                         title="Application running offline."
                         src="./images/internet-off.png" />
                </ShowOffline>
            </ConnectivityIndicator>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
